<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bluesky Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="home-container">
    <h1>Bluesky Feed</h1>
    <p>Make RSS feeds for Bluesky users' posts.</p>
    <form action="/generate.lua" method="POST">
      <label class="vbox">
        Bluesky DID or handle:
        <input
          type="text"
          name="identifier"
          placeholder="user.bsky.social"
          value="{%& identifier %}"
          required
        />
      </label>
      <label>
        <input type="checkbox" name="no_replies" />
        <div>
          Exclude reply posts?
          <span class="help-text">
            Note that for users who mostly reply, this may cause the feed to be
            empty.
          </span>
        </div>
      </label>
      <label>
        <input type="checkbox" name="yes_reposts" />
        <div>
          Include reposts?
          <span class="help-text">
            This makes the feed take longer to generate, due to limitations of
            the logged-out Bluesky API.
          </span>
        </div>
      </label>
      <span>Feed type:</span>
      <label>
        <input type="radio" name="feed_type" value="xml" checked required />
        <div>
          RSS
          <span class="help-text">
            The most compatible standard. Also supports in-browser preview, if
            you'd like to check the results before adding it to your feed
            reader.
          </span>
        </div>
      </label>
      <label>
        <input type="radio" name="feed_type" value="json" />
        <div>
          JSON Feed
          <span class="help-text">
            Newer standard that supports profile images in the headers of some
            RSS readers.
          </span>
        </div>
      </label>
      <div class="backwards">
        <input type="submit" value="Generate" />
        <input type="reset" />
      </div>
    </form>
    <footer>
      <a href="https://github.com/s0ph0s-2/bskyfeed">Source Code</a> • Made by
      <a href="https://s0ph0s.dog/">s0ph0s</a>
    </footer>
  </body>
</html>
